<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="MobilesApplication" connectionString="Data Source=PING; Initial Catalog=MobilesApplication; Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="MobilesApplication.Properties.Settings.MobilesApplicationConnectionString"
      connectionString="Data Source=PING;Initial Catalog=MobilesApplication;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->

    <add name="DefaultConnection" connectionString="Data Source=.; Initial Catalog=MobilesApplication; Integrated Security=True; 
         MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    
    <add name="MobilesApplication.Properties.Settings.MobilesApplicationConnectionString" connectionString="Data Source=.; Initial Catalog=MobilesApplication; Integrated Security=True; 
         MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MobilesApplication.mdf"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
